<!DOCTYPE html>
<html>
  <center>
    <a href="/about">About</a>
    <a></a>
    <a></a>
    <a></a>
    <a href="/users">User Management</a>
    </center>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is the message:<%= message %></p>
     <p>This is the result:<%= result %></p>
     <a href="/about">About us</a>
  </body>
</html>
